.d-none{
    display: none;
}

.d-block{
    display: block;
}

.d-block{
    display: inline;
}

.pointer{
    cursor: pointer;
}

.text-yellow{
    color: yellow;
    font-weight: bold;
    font-size: 18px;
}

.text-white{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.text-dark-white{
    color: #ccc;
    font-size: 17px;
}

.text-black{
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

.shadow-sm{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.718);
}

.op-half{
    opacity: 0.2;
}

.card-white{
    background-color: yellow;
    color: #000;
    font-weight: bold;
    padding: 10px;
}

.card-yellow{
    background-color: #fff;
    color: #000;
    font-weight: bold;
    padding: 10px;
}